:root{
    --green: #386966;
    --lime: #8D9C87#;
    --olive:#40602F;
    --dirtywhite: #D7DAD1;
}

div {
    display:flex;
    align-items:center;
}

header {
    background-color:var(--green) ;
}

body {
    background-color: var(--dirtywhite);
}

